# Application Port
PORT=3000

# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=orium_agence_scrapper_sql

# Database URLs
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
MONGO_URI=mongodb://mongo:27017/orium_agence_scrapper_nosql

# Security
# à changer en prod
JWT_SECRET=xxx
CORS_ALLOW_ALL=true
